# Mercado Pago Credentials
VITE_MP_PUBLIC_KEY=APP_USR_your_public_key
MP_ACCESS_TOKEN=APP_USR_your_access_token
MP_CLIENT_ID=your_client_id
MP_CLIENT_SECRET=your_client_secret
MP_WEBHOOK_SECRET=your_webhook_secret
